@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --accent: #00bf80;
  --orange: #bf5c00;
  --white: #ccc;
  --black: #181818;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  background: url("./src/background.png");
  scroll-behavior: smooth;
}
section {
  background: url("./src/background.png");
}
a {
  text-decoration: none;
  color: var(--white);
}
h2 {
  color: var(--black);
  font-weight: 900;
  font-size: 3em;
  letter-spacing: 1rem;
  text-align: center;
  background-color: var(--accent);
  padding-top: 2rem;
  margin: 0 0 0.5em 0;
}
h3 {
  color: var(--black);
  font-weight: 800;
  font-size: 1.5em;
  background-color: var(--orange);
  margin: 0 auto;
  padding: 0.5em 0;
  text-align: center;
  width: 20%;
}
.empty {
  height: 667px;
}
.h2-margin {
  height: 2em;
}
li {
  list-style: none;
}

/* ========== NAVBAR ========== */
#nav-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2rem;
  background-color: var(--black);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
#nav-navigation, #nav-title {
  padding: 0 .5em;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
#nav-navigation {
  grid-column: 3 / 3;
}
#nav-navigation li a{
  transition: all .5s ease-in-out;
}

#nav-navigation li a:hover {
  color: var(--accent);
  font-weight: 600;
}
#nav-title, #nav-title a{
  font-weight: bold;
  grid-column: 1 / 1;
  background-color: var(--accent);
  color: var(--black);
}

/* Language switch button */

#switch-lang {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.2rem;
  transition: all .5s ease-in-out;
  color: var(--white);
}
#menu-toggle,
.menu-btn {
  display: none;
}
#switch-lang:hover {
  color: var(--accent);
}
#switch-lang:active {
  transform: scale(1.05);
}

/* ========== HERO ========== */

#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 191, 128, 0.3),
    rgba(191, 54, 0, 0.3)
  );
  animation: AnimateBG 7s ease infinite;
  position: fixed;
  z-index: -1;
}
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#hero-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 5em;
  row-gap: 1em;
}
#profile-pic {
  height: 320px;
  border-radius: 2em;
  border: 2px solid var(--white);
  grid-row: 1 / 5;
  justify-self: center;
}
.name {
  color: var(--white);
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
  align-self: center;
  justify-self: center;
}
.name-l {
  font-size: 5rem;
  color: var(--accent);
}
.name-s {
  font-size: 1.5rem;
}
[class="lang-en name-s"] {
  position: relative;
  top: -0.5rem;
}
.name1 {
  grid-row: 2;
  grid-column: 2;
}
.name2 {
  grid-column: 2;
  grid-row: 3;
}

/* ========== ABOUT ME ========== */
#about{
  height: 100vh;
}
/* Tools */
.tools-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.tools-container img {
  width: 50px;
  padding: 1em;
}

/* Training */
.tools-container + h3 {
  margin-top: 1em;
}
.training-container {
  margin: 1em 1em 0 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.training-title {
  cursor: pointer;
}
.training-title,
.training-desc {
  padding: 1em 0;
  background-color: var(--white);
  color: var(--black);
  font-weight: 800;
  font-size: 1.5rem;
  border: none;
}
.training-title:nth-of-type(even) {
  box-shadow: inset 0 0 0 4px var(--white);
  background-color: var(--black);
  color: var(--white);
}
.training-title:hover {
  background-color: var(--orange);
  box-shadow: inset 0 0 0 4px var(--orange);
}
.training-desc {
  grid-column: 1 / 5;
  display: none;
  text-align: left;
  padding-left: 1em;
  background-color: var(--orange);
  font-weight: normal;
}
.training-desc ul li:not(:last-child) {
  margin-bottom: 0.5em;
  /* border-bottom: 1px solid black; */
}
.training-desc ul li:not(:last-child):after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0.2em;
  margin-right: 1em;
  background: var(--black);
}
/* ========== PROJECTS ========== */
#projects {
  height: 100vh;
}
#projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-link {
  margin: 20px;
}
.project-img {
  border: 1px solid var(--white);
  border-radius: 2em;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 2em;
  transition: all 0.2s ease-in-out;
}
.project-img:hover {
  /* filter: brightness(0.3) saturate(0.7); */
  filter: brightness(1.3);
}
.project-img:hover + figcaption {
  color: var(--accent);
}
figcaption {
  text-align: center;
  margin-top: 0.5em;
  color: var(--white);
  font-weight: bold;
}
figure {
  position: relative;
  transition: all 1ms ease;
}
figure:hover .img-hover-text {
  display: block;
}
.img-hover-text {
  display: none;
  color: white;
  position: absolute;
  bottom: 50%;
  padding: 0 1em;
  user-select: none;
  pointer-events: none;
}

/* ========== CONTACT ========== */
#contact {
  height: 100vh;
}
.contact-text {
  color: var(--white);
  text-align: center;
  margin: 5em 30%;
  margin-bottom: 2rem;
}
.contact-text span {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

ul.contact-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Contact Mail Icon */
.mail-icon {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 2rem;
  color: var(--black);
  background-color: var(--accent);
}
.mail-icon:hover #mail-open,
#mail-sending,
#mail-closed,
.mail-icon:active #mail-open {
  display: none;
}
.mail-icon:hover #mail-sending,
.mail-icon:active #mail-closed {
  display: inline;
}
.mail-icon:active #mail-sending {
  display: none;
}

/* ========== RESPONSIVE ========== */

@media only screen and (max-width: 420px){
  #nav-container {
    font-size: .75rem;
    grid-template-columns: 1fr 0fr 2fr;
  }
  #hero {
    width: 100vw;
  }
  #hero-container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr repeat(4, 1fr);
  }
  #profile-pic {
    height: 200px;
    grid-column: 1;
    grid-row: 1;
  }
  .name {
    font-size: 1rem;
  }
  .name-l {
    font-size: 1.5rem;
  }
  .name-s {
    font-size: 1.2rem;
  }
  .name-name {
    grid-column: 1;
    grid-row: 2;
  }
  .name-title {
    grid-column: 1;
    grid-row: 3;
  }
}


