@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --accent: #00bf80;
  --orange: #e77c4b;
  --white: #ccc;
  --black: #181818;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

*:not(img) {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  background: url("./src/background.png");
  scroll-behavior: smooth;
}
section {
  background: url("./src/background.png");
}
a {
  text-decoration: none;
  color: var(--white);
}
h2 {
  color: var(--black);
  font-weight: 900;
  font-size: 3em;
  letter-spacing: 1rem;
  text-align: center;
  background-color: var(--accent);
  padding: 2rem 0;
  margin: 0 0 0.5em 0;
}
.empty {
  height: 100vh;
}
.h2-margin {
  height: 2em;
}
li {
  list-style: none;
}

/* ========== NAVBAR ========== */
#nav-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2rem;
  background-color: var(--black);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
#nav-navigation,
#nav-title {
  padding: 0 0.5em;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
#nav-navigation {
  grid-column: 3 / 3;
}
#nav-navigation li a {
  transition: all 0.5s ease-in-out;
}

#nav-navigation li a:hover {
  color: var(--accent);
  font-weight: 600;
}
#nav-title,
#nav-title a {
  font-weight: bold;
  grid-column: 1 / 1;
  background-color: var(--accent);
  color: var(--black);
}

/* Language switch button */

#switch-lang {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  color: var(--white);
}
#menu-toggle,
.menu-btn {
  display: none;
}
#switch-lang:hover {
  color: var(--accent);
}
#switch-lang:active {
  transform: scale(1.05);
}

/* ========== HERO ========== */

#hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 191, 128, 0.3),
    rgba(191, 54, 0, 0.3)
  );
  animation: AnimateBG 7s ease infinite;
  position: fixed;
  z-index: -1;
}
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#hero-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 5em;
  row-gap: 1em;
}
#profile-pic {
  height: 320px;
  border-radius: 2em;
  border: 2px solid var(--white);
  grid-row: 1 / 5;
  justify-self: center;
}
.name {
  position: relative;
  top: 2em;
  color: var(--white);
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  line-height: 1.5rem;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.name-l {
  font-size: 5rem;
  color: var(--accent);
}
.name-s {
  font-size: 1.5rem;
}
[class="lang-en name-s"] {
  position: relative;
  top: -0.5rem;
}
.name1 {
  grid-row: 2;
  grid-column: 2;
}
.name2 {
  grid-column: 2;
  grid-row: 3;
}

/* ========== ABOUT ME ========== */
#about {
  height: 100vh;
}
.about-container h3 {
  color: var(--black);
  font-weight: 800;
  font-size: 1.5em;
  background-color: var(--orange);
  margin: 0 auto;
  padding: 0.5em 0;
  text-align: center;
  width: 20%;
  border-radius: .5em;
}
/* Tools */
.tools-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.tools-container img {
  width: 50px;
  padding: 1em;
}

/* Training */
.tools-container + h3 {
  margin-top: 1em;
}
.training-container {
  margin: 1em 1em 0 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.training-title {
  cursor: pointer;
}
.training-title,
.training-desc {
  padding: 1em 0;
  background-color: var(--white);
  color: var(--black);
  font-weight: 800;
  font-size: 1.5rem;
  border: none;
}
.training-title:nth-of-type(even) {
  box-shadow: inset 0 0 0 4px var(--white);
  background-color: var(--black);
  color: var(--white);
}
.training-title:nth-of-type(1) {
  border-radius: .5em 0 0 0;
}
.training-title:nth-of-type(4) {
  border-radius: 0 .5em 0 0;
}
.training-title:hover {
  background-color: var(--orange);
  box-shadow: inset 0 0 0 4px var(--orange);
}
.training-desc {
  grid-column: 1 / 5;
  display: none;
  text-align: left;
  padding-left: 1em;
  background-color: var(--orange);
  font-weight: normal;
}
.training-desc ul li:not(:last-child) {
  margin-bottom: 0.5em;
}
.training-desc ul li:not(:last-child):after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0.2em;
  margin-right: 1em;
  background: var(--black);
}
/* ========== TIMELINE ========== */
#timeline-scroll {
  height: 83vh;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#timeline-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#timeline-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
#timeline-container::after{
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--white);
  border-radius: 6px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.timeline-wrapper {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* Circle */
.timeline-wrapper::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--white);
  border: 4px solid #007a52;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.tl-left {
  left: 0;
}
.tl-right {
  left: 50%;
}
.tl-right::after {
  left: -15px;
}
.tl-left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--white);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--white);
}
.tl-right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--white);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--white) transparent transparent;
}
.tl-content {
  padding: 20px;
  background-color: var(--white);
  position: relative;
  border-radius: 6px;
}
.tl-content h3 {
  color: #007a52;
  letter-spacing: 2px;
}
.tl-content p {
  letter-spacing: 1px;
  margin-top: 10px;
  color: var(--black);
}

/* ========== PROJECTS ========== */
#projects {
  /* height: 100vh; */
}
#projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project-link {
  margin: 20px;
}
.project-img {
  border: 1px solid var(--white);
  border-radius: 2em;
  height: 300px;
  width: 600px;
  object-fit: cover;
  border-radius: 2em;
  transition: all 0.2s ease-in-out;
}
.project-img:hover {
  /* filter: brightness(0.3) saturate(0.7); */
  filter: brightness(1.3);
}
.project-img:hover + figcaption {
  color: var(--accent);
}
figcaption {
  text-align: center;
  margin-top: 0.5em;
  color: var(--white);
  font-weight: bold;
}
figure {
  position: relative;
  transition: all 1ms ease;
}
figure:hover .img-hover-text {
  display: block;
}
.img-hover-text {
  display: none;
  color: white;
  position: absolute;
  bottom: 50%;
  padding: 0 1em;
  user-select: none;
  pointer-events: none;
}

/* ========== CONTACT ========== */
#contact {
  height: 100vh;
}
.contact-text {
  color: var(--white);
  text-align: center;
  margin: 5em 30%;
  margin-bottom: 2rem;
}
.contact-text span {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

ul.contact-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Contact Mail Icon */
.mail-icon {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 2rem;
  color: var(--black);
  background-color: var(--accent);
}
.mail-icon:hover #mail-open,
#mail-sending,
#mail-closed,
.mail-icon:active #mail-open {
  display: none;
}
.mail-icon:hover #mail-sending,
.mail-icon:active #mail-closed {
  display: inline;
}
.mail-icon:active #mail-sending {
  display: none;
}

/* ========== RESPONSIVE ========== */

@media only screen and (max-width: 420px) {
  h2 {
    letter-spacing: 0.2rem;
    font-size: 2em;
  }
  /* NAVBAR */
  #nav-container {
    font-size: 0.7rem;
    grid-template-columns: 1fr 0fr 2fr;
  }

  /* HERO */
  #hero-container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr repeat(4, 1fr);
  }
  #profile-pic {
    height: 200px;
    grid-column: 1;
    grid-row: 1;
  }
  .name {
    font-size: 2rem;
    top: 0;
  }
  .name-l {
    font-size: 2.5rem;
  }
  .name-s {
    font-size: 1.5rem;
  }
  .name-name {
    grid-column: 1;
    grid-row: 2;
  }
  .name-title {
    grid-column: 1;
    grid-row: 3;
  }

  /* ABOUT ME */
  .about-container h3 {
    font-size: 1.2em;
    width: 50%;
  }
  .training-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .tools-container img {
    width: 50px;
    padding: 1em 0;
  }
  .training-title,
  .training-desc {
    padding: .5em 0;
    font-size: 1.2em;
  }
  .training-desc {
    grid-column: 1 / 1;
    font-size: 1.2em;
  }

  /* TIMELINE */
  #timeline-container::after {
    left: 31px;
  }
  .timeline-wrapper {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timeline-wrapper::before {
    left: 60px;
    border: medium solid var(--white);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--white) transparent transparent;
  }
  .tl-left::after, .tl-right::after {
    left: 15px;
  }
  .tl-right {
    left: 0;
  }
  /* PROJECTS */
  #projects-container {
    margin-top: 0;
  }
  figure {
    text-align: center;
  }
  .project-img {
    height: 150px;
    width: 300px;
  }

  /* CONTACT */
  .contact-text {
    margin: 3em 0;
  }
}
